@import"./mixin";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1320px;
    margin:0 auto;
}
// =======================variables===================
$primary__font : 'Open Sans', sans-serif;
$secondary__font:'Montserrat', sans-serif;
$primary__color:#554C8A;
$font__18:18px;
$font__24:24px;
$font__36:36px;
$font__40px:40px;

// =======================variables===================

#navbar{
    padding: 31px 0;
    .navbar__wrapper{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        .navbar__menu-wrapper{
            display: flex;
            column-gap: 15px;
            .navbar__item a{
                text-transform: capitalize;
                font-size: 18px;
                font-weight:400;
                font-family: $primary__font;
                color: #000;
                transition: all linear 0.3s;
                display: inline-block;
                &:hover{
                    color: #955EF0;
                    background-color: red($color: #000000);
                }
            }
        }
        .navbar__btn{
            height: 41px;
            width: 371px;
            border-radius: 100px;
            border: 1px solid black;
            display: flex;
            padding: 15px 10px;
            h3{
                font-size: 14px;
                font-weight: 400;
                color:$primary__color;
            }
        }
    }
}

#banner{
    position: relative;
    .banner__image picture img{
        width: 100%;
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        z-index: -1;
        top: 0;
        left: 0;
    }
    .banner__heading{
        font-size: 70px;
        width: 720px;
        font-family: $secondary__font;
        line-height: 140%;
        color:white;
        padding-top: 148px;

    }
    .banner__text{
        @include peragraph(430px,32px 0 50px 0,#fff,);
    }
    .banner__btn{
        @include btn;
    }
}